/**/*
!/**/
/venv/
!*.ipynb
!*.gitignore
!*.md
!*.bat
!*.py
!*.yml
!*.ui
!*.yaml

!requirements.txt
!version.txt

/docs/build
!/docs/Makefile

/build/

/runs 
/results
/wandb
!/media/**

# Jupyter
.ipynb_checkpoints/


# Python cache
__pycache__/

# Experiment outputs
results/
results_tta/
runs/
*.pt
*.pth
*.npy
*.npz

