# ============================================================
# Python / environments
# ============================================================
venv/
.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
/venv/
.env
*.egg-info/

# ============================================================
# IDE
# ============================================================
.vscode/


# ============================================================
# Folder
# ============================================================
/mst/data/
/mst/models/
/mst/utils/
/media/
/build/
/Archeived/
/media/
/runs/
/results/
/wandb/
/src/
/tests/
/wandb/
scripts/Jupyter_notebook/Confusion Matrix/
scripts/Jupyter_notebook/Evaluation Performance/
scripts/Jupyter_notebook/Overlay Image/
scripts/Jupyter_notebook/Perturbation visualization/
scripts/Jupyter_notebook/Prediction performance/
scripts/Jupyter_notebook/Conference Figure/
scripts/Jupyter_notebook/perturbation_plots/

# ============================================================
# Models / checkpoints
# ============================================================
!requirements.txt
!version.txt


# Python cache
__pycache__/

# Experiment outputs
*.pt
*.pth
*.npy
*.npz
*.csv
*.pkl

test.py

